:root {
  --primary-text-collor: #757575;
  --title-text-collor: #212121;
  --accent-collor: #2196f3;
  --white-collor: #ffffff;
}

/* основной цвет текста #757575 */
/* вторичный цвет текста #212121 */
/* текст с прозрачностью rgba(255, 255, 255, 0.6)*/
/* белый #FFFFFF */
/* акцент #2196F3 */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}

body {
  background-color: var(--white-collor);
  color: var(--primary-text-collor);
  font-family: roboto, sans-serif;
}
/* logo */
.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ececec;
}
.header-nav {
  display: flex;
  align-items: center;
}

.site-contacts .items {
  margin-right: 50px;
}
.site-contacts .items:last-child {
  margin-right: 0;
}
.site-nav .items {
  margin-right: 50px;
}
.site-nav .items:last-child {
  margin-right: 0;
}
.site-nav {
  margin-left: 93px;
}

.logo {
  font-family: raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: #2196f3;
}
.logo .black {
  color: #000000;
}
/* site-nav */
.site-nav {
  display: flex;
  align-items: center;
}

.site-nav .link{
   color: var(--title-text-collor);
   position: relative;
   transition: color 250ms linear;
}
.current::after {
  content: '';
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 4px;
  position: absolute;
  bottom: -32px;
  left: 0;
}
.site-nav a {
  color: var(--title-text-collor);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}
/* site-contacts */
.site-contacts {
  display: flex;
  margin-left: auto;
}
.site-contacts-link {
  color: var(--primary-text-collor);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  display: flex;
  justify-content: center;
  align-items: center;
    transition: color 250ms linear;
}
.header-icons {
  margin-right: 10px;
  fill: var(--primary-text-collor);
}

.site-contacts-link:focus,
.site-contacts-link:hover {
  color: #2196f3;
}
.site-contacts-link:focus .header-icons,
.site-contacts-link:hover .header-icons {
  fill:#2196f3 ;
}
  /*footer-section */
.footer-section {
  font-size: 14px;
  line-height: 1.71;
  color: var(--white-collor);
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.logo .white {
  color: var(--white-collor);
}
.footer-section p {
  margin-top: 20px;
}
.footer-section .link {
  margin-top: 9px;
  transition: color 250ms linear, background-color 250ms linear;
}
.footer-section .collor {
  color: rgba(255, 255, 255, 0.6);
}
.footer-section .link:hover,
.footer-section .link:focus {
  color: #2196f3;
}
.footer-logo-list {
    display: flex;
    justify-content: center;
  }
  .footer-logo-item:not(:last-child) {
    margin-right: 10px;
  }
  .footer-logo-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
  }

  .footer-logo-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms linear, fill 250ms linear ;
  }
  .footer-logo-icon{
    fill:  rgba(255, 255, 255, 1);
    transition: background-color 2500ms linear;
  }
  .footer-logo-link:hover,  
  .footer-logo-link:focus {
    background-color: #2196f3;
  }
  .footer-logo-link:hover .footer-logo-icon,
  .footer-logo-link:focus .footer-logo-icon {
    fill:  rgba(255, 255, 255, 1);
    background-color:#2196f3;
  }
  .footer-nav{
    display: flex;
    align-items: baseline;
  }
  .conecting-list{
    margin-left: 70px;
  }
  .conecting-list h3{
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
  margin-bottom: 20px;

  }
  /* hero */
  .hero {
    background-color: #2f303a;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    margin: 0 auto;
  }

  .hero h1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    color: var(--white-collor);
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  .hero .buttons {
    font-family: roboto, sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    border: none;
    color: var(--white-collor);
    background: #2196f3;
  }
  /* section-line */
  .line {
    display: flex;
  }
  .line .list:not(:last-child) {
    margin-right: 30px;
  }
  /* section-advantage */
  .section-advantage {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .advantage-logo-lits {
    display: flex;
  }
  .advantage-logo-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    background-color: #f5f4fa;
    margin-bottom: 30px;
    border-radius: 4px;
  }
  .advantage-logo-item:not(:last-child) {
    margin-right: 30px;
  }

  .advantage-logo-icon {
    width: 100%;
    height: 100%;
  }
  .advantage {
    display: flex;
  }
  .advantage .list {
    width: 270px;
  }
  .advantage .list:not(:last-child) {
    margin-right: 30px;
  }
  /* .section-line */
  .section-line {
    padding-bottom: 94px;
  }
  .section-line .line {
    justify-content: center;
  }

  .section-line h2 {
    text-align: center;
    color: #212121;
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 42px;
  }
  .section-line .list:not(:last-child) {
    margin-right: 30px;
  }
  /* .images-text-wrap{
  position: relative;
  overflow: hidden;
}
  .images-text{
  position: absolute;
  left: 0;
  top: 0;
  font-style: 18px;
  line-height: 1.5;
  padding: 63px 24px;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms;
} */
  .section-line .list{
    position: relative;
    display: flex;
  }
  .section-line-text{
    width: 370px;
    height: 70px;
    padding-top: 27px;
    color: #FFFFFF;
    left: 0;
    bottom: 0;
    position: absolute;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    text-align: center;
    background-color: rgba(47, 48, 58, 0.8);
; 
  }
  .section-advantage .meaning {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-collor);
    margin-bottom: 10px;
  }
  .section-advantage .example {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
  /* section-line */
  .section-advantage h2 {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-collor);
    margin-bottom: 50px;
  }
  .section-employee {
    background-color: #f5f4fa;
    padding-top: 94px;
    padding-bottom: 94px;
  }
  /*section-employee  */
  .section-employee .line {
    display: flex;
    box-sizing: border-box;
  }
  .section-employee h2 {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-collor);
    margin-bottom: 50px;
  }
  .section-employee .name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    margin-bottom: 10px;
    color: var(--title-text-collor);
  }
  .employee {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .section-employee .department {
    font-size: 16px;
    line-height: 1.18;
    margin-bottom: 16px;
  }
  .section-employee .list {
    text-align: center;
    background-color: #ffffff; 
    
  }
  .section-employee .list{
    border-radius: 3px;
    offset: 0px, 1px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  }

  .employee-logo-list {
    display: flex;
    justify-content: center;
  }
  .employee-logo-item:not(:last-child) {
    margin-right: 10px;
  }
  .employee-logo-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
  }

  .employee-logo-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms linear, fill 250ms linear ;
  }
  .employee-logo-icon{
    fill:  rgba(175, 177, 184, 1);

;
  }
  .employee-logo-link:hover,
  .employee-logo-link:focus {
    background-color: #2196f3;
  }
  .employee-logo-link:hover .employee-logo-icon,
  .employee-logo-link:focus .employee-logo-icon {
    fill: #ffffff;
}

/* portfolio buttons  */
.section-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.buttons-line {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  
}
.section-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
.buttons-line :not(:last-child) {
  margin-right: 8px;
}
.section-portfolio .buttons {
  font-family: roboto, sans-serif;
  background-color: rgba(245, 244, 250, 1);
  border-radius: 4px;
  color: var(--title-text-collor);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  padding: 6px 22px;
  border: none;
  transition: background-color 250ms linear, color 250ms linear ;
}

.section-portfolio .buttons:hover,
.section-portfolio .buttons:focus {
  background-color: #2196f3;
  color: var(--white-collor);
}
.content-line {
  display: flex;
  flex-wrap: wrap;
  
}
.portfolio-list {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
}
.content-line .list {
  width: 370px;
  max-height: 404px;
  margin-right: 30px;
  margin-top: 0;
  margin-bottom: 30px;
  border: 1px solid rgba(238, 238, 238, 1);
  offset: 0px, 1px;
  transition: background-color 250ms linear, color 250ms linear, box-shadow 250ms linear;
  position: relative;
}
.content-line .list:focus,
.content-line .list:hover{
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.content-line .list:nth-child(3n + 3) {
  margin-right: 0;
}
.content-line .list:nth-child(7n + 1) {
  margin-bottom: 0;
}


.section-portfolio h3 {
  font-size: 18px;
  line-height: 2;
  color: var(--title-text-collor);
  margin-bottom: 4px;
}
.section-portfolio p {
  font-size: 16px;
  line-height: 1.87;}

.content-line .list:hover .images-text{
  transform: translateY(0);
}
.images-text-wrap{
  position: relative;
  overflow: hidden;
}
  .images-text{
  position: absolute;
  left: 0;
  top: 0;
  font-size: 18px;
  line-height: 1.5;
  padding: 63px 24px;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms;
}

.company-logo-lits {
    display: flex}

.company-name{
  margin-bottom: 50px;
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 42px;
letter-spacing: 0.03em;
text-align: center;
color: rgba(33, 33, 33, 1);
}

.company {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .company-logo-list {
    display: flex;
  }
  .company-logo-link{
       display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    background-color: #ffffff;
    margin-bottom: 30px;
    border-radius: 4px;
    border: 1px
    border-color: rgba(175, 177, 184, 1);
    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 0;
   }
  .company-logo-item {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .company-logo-item:not(:last-child) {
    margin-right: 30px;
  }
  .company-logo-icon {
    fill: rgba(175, 177, 184, 1);
    transition: background-color 250ms linear, fill 250ms linear;
  }
  .company-logo-link:hover,
  .company-logo-link:focus {
    border-color: #2196f3;
  }
  .company-logo-link:hover .company-logo-icon,
  .company-logo-link:focus .company-logo-icon {
    fill: rgba(33, 150, 243, 1);
;}

  
.dell {
  display: none;
  font-size: 0;
}


.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}
.backdrop{
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity 300ms, visibility 300ms;
}
.backdrop.is-hidden .modal {
 
  transform: scale(1.5) rotateY(270deg) translate(100px, 100px);

 transition: transform 600ms;}
.modal{
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: transform 500ms;
  transform: scale(1) rotate(0) translate(-50%, -50%);
  
}
.modal-close{
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.is-hidden{
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
} 
.modal{
  padding: 40px;
}
.submit{
 
}
.sub-box{
  font-size: 14px;
line-height: 24px;
 border: none;
}
.modal-title{
  font-size: 20px;
  font-weight: 700;
  line-height: 1.17;
  color: rgba(33, 33, 33, 1);
  text-align: center;
  margin-bottom: 12px;
}
.modal-for-field{
  margin-bottom: 10px;
}
.modal-input-wrap{
  position: relative;
}
.input-icon{
 position: absolute;
 top: 50%;
 transform: translateY(-50%);
 left: 15px;
 transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input{
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  padding-right: 10px;
  padding-left: 42px;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}
.modal-input:focus + .input-icon{
  fill: rgba(33, 150, 243, 1);
}
.modal-input:focus{
  border-color: rgba(33, 150, 243, 1);
}
.modal-form-text{
  font-size: 12px;
  line-height: 1.17;
  display: block;
  color: rgba(117, 117, 117, 1);
  margin-bottom: 4px;
}
.modal-text{
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  height: 120px;
  padding: 10px;
  resize: none;
  margin-bottom: 20px;
}
.modal-text::placeholder{
  font-size: 12px;
  line-height: 1.17;
  color: rgba(117, 117, 117, 0.5);
;
}
.online-input{
  width: 358px;
  height: 50px;
  padding-left: 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);

}
.online-input::placeholder{
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 20px;  
}

.online-form{
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 16px;
}
.online-form-list{
  margin-left: 93px;
}

.btn.online-btn{
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  margin-left: 12px;
  border: none;
  font-size: 16px;
  line-height: 30px;
  color: rgba(255, 255, 255, 1);
  font-weight: bold; 
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.button-online{
  margin-left: 10px;
}
.sub-box{
  margin-bottom: 30px;
  padding: 0;
  /* justify-content: center; */
  align-items: center;
  display: flex;
}
.modal-check-text{
  font-size: 14px;
line-height: 1.7;
color: #757575;
letter-spacing: 0.03em;
display: flex;
align-items: center;
padding: 0;
}
.modal-check{
display: flex;
 align-items: center;
 justify-content: center;
}
.modal-check-text span{
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  margin-right: 5px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-check{
  fill: #FFFFFF;
}
.modal-check:checked + .modal-check-text span{
  border: none;
  background-color: rgba(33, 150, 243, 1);
;

}
.checkbox-link{
  color: #2196F3 ;
  text-decoration: underline;
  margin-left: 3px;
}
.modal-submit-button{
  height: 50px;
  width: 200px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
background: #188CE8;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
color: #FFFFFF;
font-weight: bold;
font-size: 16px;
line-height: 1.9;
display: block;
    margin-left: auto;
    margin-right: auto
}
.visually-hidden{
  visibility: hidden;
}